@page
@model PlatformaBlogowa.Pages.UserProfileModel
@{
}
<div>
	<form method="post">
		<input asp-for="@Model.AppUser.Id" hidden/>
		<label asp-for="@Model.AppUser.UserName"></label>
		<input asp-for="@Model.AppUser.UserName" />
		<input asp-page-handler="" asp-route-userId="@Model.AppUser.Id" type="submit" value="Save" class="btn btn-primary" />
	</form>
</div>